<footer class="bg-black text-gray-300 py-8">
  <div class="container mx-auto text-center">
    <div class="mb-4">
      <p class="text-sm">&copy; 2024 Dragon Ball Super Fan Page. Todos los derechos reservados.</p>
    </div>
    <div class="mt-4">
      <p class="text-sm">Desarrollado por Lucas Nieto</p>
    </div>
  </div>
</footer>
